<div class="list-group">
  <% @books.each do |book| %>
    <%= link_to(book_path(book), :class => 'list-group-item') do %>
    	<div class='row'>
    		<div class='col-md-10'>
		    	<h4 class="list-group-item-heading"><%= book.name %></h4>
		    	<h5 class="list-group-item-heading"><%= book.user.username %></h5>
		    </div>
		    <div class='col-md-2'>		    	
		    	<p class="list-group-item-heading">Category: <em><%= book.category.name %></em></p>
		    </div>
		</div>
		<p class="list-group-item-text"><%= book.description %></p>    	
    <% end %>
  <% end %>
</div>  