<div class="list-group">
  <% @books.each do |book| %>
  	<% cache book do %>
	    <%= link_to(book_path(book), :class => 'list-group-item') do %>
	    	<div class='row'>
	    		<div class='col-md-9'>
			    	<h4 class="list-group-item-heading"><%= book.name %></h4>
			    	<h5 class="list-group-item-heading"><%= book.user_username %></h5>
			    </div>
			    <div class='col-md-3'>		    	
			    	<p class="list-group-item-heading"><b>Category: </b><%= book.category_name %></p>
			    </div>
			</div>
			<p class="list-group-item-text"><%= truncate(strip_tags(book.description), length: 340) %></p><br />
			<% if book.tag_list.any? %>
				<p class="list-group-item-text"><b>Tags:</b> <%= raw book.tag_list.map { |t| t }.join(', ') %></p> 	
			<% end %>
	    <% end %>
	 <% end %>
  <% end %>
</div>  